<div class="card">
  <div class="card-header">Current Results</div>
  <div class="card-block"
       *ngIf="results">
    <div class="card-text"
         style="display: flex; justify-content: space-between;">
      <span></span>
      <span *ngFor="let result of results"
            [style.color]="result.color">
        <strong style="font-size: 30px;">{{result.value}}</strong>
      </span>
      <span></span>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-link"
            (click)="rollClick.next(ThrowSpeed.soft)">Soft Roll</button>
    <button class="btn btn-link"
            (click)="rollClick.next(ThrowSpeed.medium)">Medium Roll</button>
    <button class="btn btn-link"
            (click)="rollClick.next(ThrowSpeed.hard)">Hard Roll</button>
  </div>
</div>