<clr-main-container>
  <clr-header>
    <div class="branding">
      <a [routerLink]="['/']"
         class="nav-link">
        <clr-icon shape="deploy"></clr-icon>
        <span class="title">Dice Roller</span>
      </a>
    </div>
    <div class="header-nav"
         [clr-nav-level]="1">
      <a [routerLink]="['/roll']"
         class="nav-link">
        <span class="nav-text">Roll</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>